.main {
    background-color: rgb(20, 17, 17);
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.lagp {
    display: flex;
    justify-content: center;
}
.lag {
    font-size: xx-large;
    font-weight: bolder;
    background-image: linear-gradient(90deg,red,orange);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-clip: text;
    color: transparent;
    padding: 22px 0 10px 0;
    margin: 0px 0 34px 0;
    border-bottom: 4px solid red;
    width: 444px;display:
}
.containar {
margin-left:2em;
margin-right:2em;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(270px,1fr)) ;
grid-gap: 3em;
justify-items: center;
}
.name {
    text-align: left;margin: 0 0 0 1em;
    border-bottom: 3px solid red;
}
.name::first-letter{
    font-size: 100%;
    
    text-transform: capitalize;
  }

.cards {
    width: 300px;
    border: 2px solid red;
    display: flex; border-radius: 13px;
    overflow: hidden;
}
img {
    min-height: 100%; min-width: 100%;
    
}

.parti {
    flex-wrap: nowrap;
    width: 100%;overflow: hidden;
}
.nametag {
    background-color: rgb(59, 56, 56);
   font-weight: 500;
   font-size: small;
   
    margin: 0 0 0 0;
}

.footer { margin: 0px 2px 0 0;
    display: flex;
    justify-content: center;
    background-color: maroon;
    width: 100%;
    padding: 0 0 3px 0;
    height: 100%;
}

.article {
    
    width: 70px;
}

.follow {
    
    width: 70px;
}
.num { border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color:rgb(189, 17, 17);
    border-bottom: 2px solid orangered;
    padding: 3px; font-size: small;
}