.submit {
    
    display: flex;
    justify-content: center;
    margin: 1em 0 0 0 ;
}

.span {
    width:  77%;
    background-color: #3f15da;
    padding: 0.6em;
    border-radius: 33px 33px;
    color: white;font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #5a5a5a;
}
.span:hover {
    background-color: rgb(0, 68, 255);
}
