.nav {
    width: 100%;
    height: 43px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid silver;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.info {
    margin-top: 1rem;
    font-size: 15px;
    text-align: center;
  }

h1 {
    margin: 1em 0 0 4em;
}