
.Nav_ul {
    list-style: none;
    padding: 0 0 0 13px;

}

.nav_li {
    
}

.a_tag {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(21, 53, 20);
    font-weight: bold;
}
/* === Logo ====  */
.tlogo {
    height: 20px;

    margin: 0 5px 0 0;
    filter: grayscale(8%);
}

/* Account Css  */
.account {
    color: rgb(0, 0, 0);
    position: absolute;
    right: 0; margin: 0 33px 0 0;
    display: flex;
    align-items: center;
}

.account_logo {
    height: 16px;
    margin: 0 5px 0 0;
    
    
}

.span_signup {
    font-size: 13px;
}
.span_signup a {
    text-decoration: none;
    color: black;
}