.inp {
    margin: 1em;
    border: none;
    border-radius: 33px 33px;
    border: 2px solid #3f15da;
    padding: 0.6em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 3px 3px 0px 0px gray;
}

.inp:hover {
    border: 2px dotted #3f15da;
    box-shadow: none;
    
}

@media only screen and (max-width: 600px) {
    .inp {
      padding: 3px;
    }
  }

