.video_a {
    text-decoration: none;
    background-color: white;
}
.videohold {
    box-shadow: 0px 0px 7px 2px grey;
    padding: 0.4em 0.4em 0 0.4em ;
    max-width: 260px;
    height: fit-content;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.image {
    width: 100%;
    object-fit: cover;
}

.videohold p {
    font-size: 16px;
    font-weight: 500;
    margin: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

.qmeta {
    display: flex;
    justify-content: space-between;
   
}
.qmeta p {
    font-size: 14px;
    margin: 0 0 8px 0;
}

.videohold:hover {
    box-shadow: 0 0 15px 0 #046491;
}