.form {
    
    border: 5px outset navy;
    padding:20px 10px 30px 10px;
    transition: 1000ms;
    
}
.input {
    border: 2px solid #093ac4;
    box-sizing: border-box; padding: 1px ;
}
.input:hover {
    border: red 3px solid; padding: 0px;
    background-color: navy;
}

i {
    width: 44px; padding: 4px; color: rgb(255, 255, 255); background-color:rgb(7, 168, 42);
    -webkit-transition: .5s all;   
    -webkit-transition-delay: 5s; 
    -moz-transition: .5s all;   
    -moz-transition-delay: 5s; 
    -ms-transition: .5s all;   
    -ms-transition-delay: 5s; 
    -o-transition: .5s all;   
    -o-transition-delay: 5s; 
    transition: .5s all;   
    transition-delay: .0zzs; 
}
i:hover {
    background-color: red;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.btn {
    background-color: #093ac4;
}
.h1 {
    font-family: fantasy;
    text-shadow: 4px 4px 4px rgb(10, 29, 204);
    color: rgb(6, 130, 212);
}

.id {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(18, 73, 175);
    border-radius: 50px 50px; width: 33px;
    display: inline-block; float: left;
}

.imagehold {
    display: grid; 
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-content: center;
    width: 100%; grid-gap: 1em;
    
    
    
}
.imc {
    
    width: 100%; height: 100%;
}

