.main {height: 100vh;
    background-color: #04081b;
    display: grid; 
    justify-content: center;
    align-content: center;
    font-family: Cambria, Cochin
}

.centerDiv {
    background-color: #06296a;
    width: 243px;
    height: 400px;
    border-radius: 23px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 100px 5px  #0d45ad;
    border: 3px solid rgb(2, 63, 177);
    
}

.heading { 
    background-color: #065dcf;
    text-align: center;
    color: white; 
    border-bottom: 3px solid #0d45ad;
}

.additems {
display: flex;

justify-content: space-between;
}

.inp {
    text-align: center;
    border: none;
    border-bottom: 3px solid #0952da;
    background-color: transparent;
    outline: none;
    color: white;
    font-weight: 600;
}

.plusicon {
    color: white;  display: inline-block;
    justify-items: center; 
    margin-right: 11px;
    border-radius: 84px;
    border: none; 
    height: 33px; width: 33px;
    background-color:#0a57e6 ;
    font-weight: bolder;
    font-size: 23px;
    padding-top: 3px;
    transition:0.4s;
}
.plusicon:hover {
    background-color: #0f922b;
    border: 2px solid green;
}

.deleteIcon {
    color: white;  
    justify-items: center; 
    margin: 0 11px 0 8px ;
    border-radius: 50%;
    border: none; 
    height: 23px; width: 23px;
    background-color:#0753df;
    font-weight: bolder;
    font-size: 21px;
    padding: 0 0 9px 0;
    transition:0.4s;
    display: flex;
    justify-content: center;
    
   
}

.deleteIcon:hover {
    background-color: #df1111;
    cursor: pointer;
    margin-right: 1px;
}

ul {
    color: rgba(255, 255, 255, 0.781) ;
    font-weight: 700;
    list-style: none;
    margin-left: 0;
    padding:0 0 7px 0;
    display: flex;
    padding-top: 7px; 
    align-items: center;
    transition:0.4s;
  
}

ul:hover {
    background-color: #0a1f49 ;
    
}

.ulhold {
    overflow: scroll;
    position: relative;
    height: 270px;
}
.ulhold::-webkit-scrollbar {
    width: 6px;
  }
.ulhold::-webkit-scrollbar-track {
    background: #033055; 
  }
   
  /* Handle */
.ulhold::-webkit-scrollbar-thumb {
    background: rgba(3, 121, 199, 0.966); 
  }
  
  /* Handle on hover */
.ulhold::-webkit-scrollbar-thumb:hover {
    background: rgb(12, 157, 201); 
  }

.footer {
    background-color: #053aad;
    color: rgb(255, 255, 255);
    position: absolute; 
    display:flex;display: inline;
    width: 100%; text-align: center;
    bottom: 0px;font-size: 14px;
    border-top: 1px solid rgb(3, 28, 80);
}