.maindiv {
    padding: 40px;
    border: 1px solid #880c0c;
    margin: 22px; box-shadow: 3px 3px 3px #a50707;
    box-sizing: border-box;
}

.secdiv {
    background-color: rgb(216, 23, 23);
}

.pb {
    display: inline-block;
    margin: 14px 50px 14px 50px;
    padding: 10px; box-sizing: border-box; }

.pb:hover {
    border-bottom: solid 4px;
    transition: 200ms; 
    margin-bottom: 8px;
}

.alignL {
    text-align: left;
}
button:hover{
    outline: 3px double rgb(0, 0, 0);
}
button {
    margin-left: 6px; margin-right: 6px;
    
}

