.Border {
    padding: 10px 10px;
    border: 10px solid;
  }
  
  .BorderC-blue {
    border-color: blue;
  }
  
  .h1tag {
    margin: 0;
    font-family: sans-serif;
  }
  
  .ptag {
    font-size: larger;
  }