.namechatprop {
    width: 100%;
    height: 100%;
    
}

.main {
    width: 100%;
    height: 100%;
    
}

.split-left {
    float: left;
    width: 30%;
    height: 100px;
    background: rgb(2, 134, 24);
    position: relative;
    
}

.split-right {
    float: left;
    width: 70%;
    height: 100px;
    background: rgb(255, 0, 0);
    color: maroon;
}