.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.first_container {
    border: 3px solid green;
    height: 233px;
    
    overflow: auto;
    
}

thead {
    background-color: #006100;
    color: white;
}

tbody {
    background-color: #0d8f01;
    color: white;
}

td, th {
    padding: 8px;
    text-align: center;
}

/* Input Sectio 
================= */
.input_sect {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.showForm {
    display: flex;
    flex-direction: column;
}
.showForm input {
    padding: 8px;
    margin: 6px;
    border: 2px solid green;
}

.showForm button {
    border: 3px solid rgb(115, 219, 115);
    padding:3px;
    margin: 6px;
    background-color: green;
    color: white;
}
.showForm *:hover {
    opacity: 88%;
}

/* Delete & Edit buttons
================= */

.deletebtn {
    background-color:#ee2727;
    color: white;
}

.undobtn {
    background-color:#ee2727;
    color: white;
}
