body {
   background-color: rgb(230, 230, 230);
   box-sizing: border-box;
   
}

.all {
   box-shadow: 0px 0px 10px 30px rgb(12, 131, 1);
   margin: 22px; min-height: 100vh;
}
.heading {
    text-align: center;
    color: rgb(7, 97, 7);
    text-shadow: 0px 1px 3px green;
    padding: 9px 0 0 0;
}


.Main-Card {
   display: flex;
   
   justify-content: center;
}

.card-holder {
   border-radius: 6%;
   box-shadow: 5px 5px 9px 1px ;
   margin:10px 10px 0 10px;
   padding: 10px; 
}

.image {
   width: 133px;
   height: 80px;
   
}
.imgNtag {
   border: 2px solid green;
   margin: 0;
   padding:1px;
}

.itemTitle {
   font-size: 14px;
   text-align: center;
   color: rgb(6, 131, 6);
  
}

.itemPrice {
   font-size: 14px;
   font-weight: bold;
   color: rgb(0, 161, 27);

}

.addToCart {
   background-color: rgb(6, 131, 6);
   color: #ffffff;
   font-size: small;
   padding: 4px;
   border: none;
   transition: 0.4s;
   display: inline-block;
   
}

.addToCart:hover {
   background-color: rgb(226, 71, 9);
   cursor: pointer;
}

.topCardFooter {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding:0 0 0 0;
   margin: 0;
   
}


 /* Basket Styles  */


.basket {
   display: flex;
   justify-content: center;
   align-content: center;
   margin: 3em 0 0 0;
}

.basketMain {
   box-shadow: 0px 0px 6px 10px green
               ;
   height: 200px;
   width: 355px;
}


/* Cart Item Style  */

.card-holder-cart-items {
   display: flex;
  padding: 5px;
  justify-content: space-between;
  border-bottom: 2px dotted green; 
}

.imgNtag-cart {
   display: inline-block;
   padding: 0 3px 0 0;
   border-right: 2px double green;
}

.image-cart {
   width: 58px;
   height: 37px;
}

.itemTitle-cart {
   font-size: 12px;
   text-align: center;
   color: rgb(6, 131, 6); 
}

.topCardFooter-cart {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding:0px 0 0 0;
   margin: 0;
}

.itemPrice-cart {
   font-weight: normal;
   color: rgb(0, 161, 27);
}

/* Cart Buttons Hold and hovers  */

.cart-button-hold {
   display: inline;
   text-align: center;

}
.cart-remove { margin-bottom: 7px;
   color: rgb(255, 102, 0);
}

.cart-plus{
   color: white;
   font-weight: bold;
   background-color: green;
   border: none;
   margin-right: 2px;
}

.cart-minus{
   color: white;
   font-weight: bold;
   background-color: green;
   border: none;
}

.cart-plus:hover {
   opacity: 77%;
}

.cart-minus:hover {
   opacity: 77%;
}




/* Kilogram and Price of Items */
.quantity-and-price {
   display: grid;
   align-content: center;
}
.cart-quantity {
   font-size: 11px;
   font-weight: bold;
   color: green;

}

.cart-price {
   text-align: center;
   color: rgb(224, 85, 5);
   font-weight: bold;
}



.cartH1 {
   color: green;
   text-align: center;
   margin: 4em 0 0 0;
}


/* Cart Calc */

.cartCalc {
   color: green;
   text-align: center;
   margin: 3em 0 0 0;
   font-weight: bold;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.total-amount {
   color:red;
   font-weight: bolder;
   font-size: 18px;
}


